* {
    margin: 0;
    padding: 0;
}

button {
    position: relative;
    height: 75px;
    width: 70px;
    background: blue;
    color: white;
    font-size: 30px;
    border: none;
}

.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    flex-wrap: wrap;
}

.button-left {
    border-radius: 5px 0 0 5px;
    border-style: none;
    background:red;
}

.button-right {
    border-style: none;
}

.tableContent {
    display: flex;
    position: absolute;
}

.box {
    border: solid red 4px;
    width: 600px;
}
